<!DOCTYPE html>
<html lang="en">
<head>
<title>ENFJ</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>ENFJ</h1>
<br>
<h2>The Giver : ผู้ให้</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนสดใส มีวิสัยทัศน์ ทั้งโอบอ้อมอารีและกระตือรือร้นที่จะช่วยคนอื่นให้ได้ในสิ่งที่เขาแสวงหา คุณรู้ถึงความฝันของคนรอบข้าง และพยายามที่จะคิดวางแผนช่วยให้ความฝันของพวกเขาเป็นจริง คุณเป็นคนซื่อสัตย์ต่ออุดมการณ์ของคุณ และต่อคนที่คุณรักหรือเคารพ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณรับคนได้เกือบทุกรูปแบบและมักจะให้ความสำคัญแก่ผู้อื่นโดยการมีส่วนร่วมในชีวิตเขา คุณเป็นตัวของตัวเอง คุณเป็นคนรักสามัคคี มักเป็นมิตรกับผู้อื่นและชอบความปรองดอง คุณอยู่นิ่งไม่ได้ ชอบทำอะไรหลายๆอย่าง ชอบอยู่กับเพื่อน ไปเที่ยว เฮฮาปาร์ตี้ หรือเข้าร่วมกิจกรรมต่างๆกับผู้อื่น คุณเป็นคนสง่า มีเสน่ห์ รู้ว่าอะไรควรหรือไม่ควรทำ นอกจากนั้นคุณมีพรสวรรค์ในการพูดและสื่อความคิดได้ดี คุณมักจะกำหนดเป้าหมายให้ตัวคุณเอง จากนั้นคุณจะตั้งใจทำไม่ว่าจะเป็นเรื่องเล็กหรือเรื่องใหญ่ และคุณมักจะได้ในสิ่งที่คุณต้องการ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เวลาเรียนเป็นกลุ่ม คุณเรียนรู้ได้ดีถ้าคุณได้พูดถึงสิ่งที่เรียนอยู่และได้แลกเปลี่ยนความคิดเห็นกับคนในกลุ่ม แต่คุณก็ชอบเรียนรู้ด้วยตนเองและทำงานเดี่ยวด้วย คุณมีความรับผิดชอบต่อความรู้สึกของคนอื่น คุณเป็นคนที่เห็นใจและเข้าใจผู้อื่นเสมอ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบที่จะเป็นหัวหน้าทีม และมักจะคะยั้นคะยอให้ทุกคนร่วมมือกัน คุณจะมีอุดมการณ์และมักจะทำงานให้อยู่ในอุดมการณ์นั้น คุณทำงานได้ดีที่สุดเวลาที่ทุกคนร่วมใจกันทำงาน คุณชอบให้งานของคุณมีความชัดเจนและเป็นระบบ แต่ไม่ใช่ถึงกับน่าเบื่อและไม่ท้าทาย ดังนั้นงานที่เหมาะกับคุณคือนักแสดง ผู้ที่ให้คำแนะนำให้คำปรึกษา ครูอาจารย์ หรืออะไรก็ได้ที่จะโอกาสในการช่วยผู้อื่น
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เรื่องของความรัก คุณรักเต็มหัวใจ เวลาเลิก คุณจะผิดหวังมากเพราะคุณเชื่อว่าความรักนั้นสมบูรณ์แบบ
<br>
ข้อแนะนำ : อย่าจริงใจกับใครหรืออุดมการณ์ใดโดยไม่ดูให้ดี เพราะบางทีคนหรือความเชื่อนั้นไม่มีค่าพอที่คุณควรจะเอาใจใส่ คุณเป็นคนหัวโบราณ คุณควรยอมรับว่าทุกคนมีความสามารถที่จำกัด คุณไม่ควรหลีกเลี่ยงการชนหรือการขัดแย้งโดยคิดว่าปัญหาจะหายไป อย่านำคำวิพากษ์วิจารณ์มาพิจารณาตนจนไร้เหตุผล คุณเป็นคนเจ้าอุดมคติและมักจะไม่เห็นสถานการณ์ตามที่มันเป็น แต่กลับมองอย่างที่คุณอยากให้มันเป็น สุดท้าย พยายามเป็นคนที่ไม่คิดมากหรือขี้น้อยใจจะดี
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>นักจิตวิทยา พระ ครู นักสังคมสงเคราะห์ นักการเมือง นักการทูต ผู้ให้คำปรึกษา นักเขียน นักธุรกิจ นักแสดง นักเขียน ศิลปิน
<br><br>
ENFJ เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:isfj' %}">ISFJ</a>
, <a href="{% url 'quiz:enfj' %}">ENFJ</a>
, <a href="{% url 'quiz:entj' %}">ENTJ</a>
, <a href="{% url 'quiz:infj' %}">INFJ</a>
, <a href="{% url 'quiz:enfp' %}">ENFP</a>
, <a href="{% url 'quiz:infp' %}">INFP</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "ENFJ" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/personality.gif" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



