<!DOCTYPE html>
<html lang="en">
<head>
<title>ENTJ</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>ENTJ</h1>
<br>
<h2>The Executive : ผู้บริหาร</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบเป็นตัวโต้โผในการจัดการ และชอบแก้ปัญหาอย่างตรงประเด็น โดยเฉพาะในสถานการณ์ที่มีความสับสน หรือไม่มีประสิทธิภาพ คุณมักจะวางแผนงานอย่างเป็นขั้นเป็นตอนโดยเน้นกิจกรรมที่ต้องทำ คุณจะเป็นคนที่ช่วยกระตุ้นให้คนอื่นทำงานและทำให้งานลุล่วงไปด้วยดี คุณชอบจัดการและรักที่จะจัดระเบียบให้กับโลกภายนอกด้วย คุณไม่รับคำปฏิเสธจากใคร และแสนจะหัวดื้อ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณถนัดในการวิเคราะห์และวางแผนกลยุทธ์ต่างๆ แน่นอนว่าในฐานะผู้นำ และคุณก็ชอบตำแหน่งนั้นเสียด้วย คุณเห็นการศึกษาเป็นวิธีที่จะทำให้คุณแซงคนอื่นไปได้ คุณไม่เกี่ยงที่จะเรียนรู้จากอดีตหากมันจะเป็นประโยชน์กับคุณในอนาคต คุณชอบถกเถียงประเด็นและมองปัญหาจากทุกมุม คุณกับงานแทบจะเป็นอันหนึ่งอันเดียวกัน คุณชอบที่จะแข่งขัน วางกลยุทธ์ และทำงาน
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณทนไม่ได้ที่จะไม่เป็นผู้นำ คุณตัดสินใจได้อย่างรวดเร็วและมีประสิทธิภาพ คุณไม่ชอบพักผ่อนเพียงเพื่อพักผ่อน ทุกอย่างจะต้องมีเหตุและผลในตัวของมัน คุณเกลียดที่จะไม่มีอะไรทำ คุณชอบกิจกรรมที่มีประโยชน์และจะทำอย่างสม่ำเสมอ คุณเป็นคนมีระบบ คุณเป็นผู้นำที่จริงใจและตรงไปตรงมา
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับคุณ ความรักก็ต้องมีเหตุมีผล และมันต้องลงตัวกับวิถีชีวิตของคุณ คุณมักจะหลงคนหล่อ สวย รวยเสน่ห์ เพราะว่าสำหรับคุณแล้ว การได้แฟนหน้าตาดีเป็นสิ่งที่ท้าทาย คุณจะเป็นคู่ครองที่จะขยันทำงานมาก เพราะคุณเชื่อว่าการทำงานหนักเพื่อครอบครัวจะแสดงถึงความรักของคุณ คุณคาดหวังให้คนรักเอาใจใส่ดูแลคุณ แต่ขณะเดียวกันคุณก็ต้องการมีชีวิตส่วนตัว ถ้าสถานการณ์ไม่เป็นแบบนี้ คุณก็มองว่ามันไม่มีเหตุผลอะไรแล้วที่จะอยู่ด้วยกัน และคุณก็จะเลิกกับเขา
<br>
ข้อควรระวัง : อย่าด่วนไขว่คว้าเป้าหมายของคุณเร็วเกินไป ตั้งเป้าหมายไว้ในใจ และตระหนักว่า มันมีมากกว่าวิธีเดียว ที่จะไปถึงจุดหมายปลายทางนั้นได้ คำนึงถึงคนอื่นบ้าง อย่าเก็บความรู้สึกไว้นานเกินไป เพราะมันอาจจะเปลี่ยนบุคลิกของคุณไปเลย ยกตัวอย่างเช่น คุณมักจะตอบสนองต่อเหตุการณ์อย่างไม่เหมาะสม เพราะคุณลืมที่จะนึกถึงความรู้สึกจริงๆของคุณเอง ให้เวลากับตัวเองบ้าง เพื่อทำความเข้าใจและวิเคราะห์ความรู้สึกของคุณ เวลาคุณหมกมุ่นอยู่กับงาน อย่ามองข้ามความรู้สึก และความต้องการของคนอื่น
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>นักบริหารในองค์กร นักวิทยาศาสตร์ โปรแกรมเมอร์ นักกฎหมาย ผู้พิพากษา นักลงทุน อาจารย์มหาวิทยาลัย นักธุรกิจ ที่ปรึกษา นายหน้าซื้อขายหลักทรัพย์ นักจัดการ
<br><br>
ENTJ เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:estj' %}">ESTJ</a>
, <a href="{% url 'quiz:istp' %}">ISTP</a>
, <a href="{% url 'quiz:entj' %}">ENTJ</a>
, <a href="{% url 'quiz:enfj' %}">ENFJ</a>
, <a href="{% url 'quiz:intj' %}">INTJ</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "ENTJ" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/help.png" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



