<!DOCTYPE html>
<html lang="en">
<head>
<title>ESFP</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>ESFP</h1>
<br>
<h2>The Performer : นักแสดง</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนรักสนุกและชอบพบปะผู้คน คุณเป็นคนกระตือรือร้นและร่าเริง เป็นที่รักของคนอื่น คุณมีความสามารถในการทำให้คนอื่นสนุกสนาน คุณเป็นคนเห็นใจคนอื่น และชอบเอื้อเฟื้อเผื่อแผ่ไม่ว่าจะเป็นเงินหรือเวลา คุณจะมาเมื่อคนอื่นต้องการความช่วยเหลือ และคุณจะมีมุมมองที่พิเศษกว่าใครๆ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณตระหนักถึงสิ่งต่างๆรอบตัว และสังเกตเห็นในสิ่งที่คนอื่นมองข้าม คุณเป็นคนดังและชอบเข้าสังคม คุณชอบจัดแจงให้มีกิจกรรมต่างๆ ชอบหัวเราะให้กับตัวเองและคนอื่น คุณชอบช่วยเหลือผู้อื่นและเข้าร่วมกิจกรรมชมรมต่างๆ ถ้าคุณทำงานตอนเป็นวัยรุ่น คุณมักจะเลือกงานที่คนได้พบปะกับผู้คน
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณมองโลกในแง่ดี คุณคบหากับคนได้ทุกวัยและทุกประเภทโดยไม่มีปัญหา คุณเรียนรู้ได้ดีเมื่อคุณได้พบปะกับคน และได้ลงมือทำ ไม่ใช่แค่สังเกตหรือฟังมาเฉยๆ ครูมีบทบาทที่สำคัญต่อคุณมาก เพราะต้องให้ความเอาใจใส่ คุณถึงจะตั้งใจเรียนได้ดี
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณไม่ชอบความขัดแย้งหรือการโต้เถียง ไม่ชอบการเรียนโดยการนั่งอ่านอยู่คนเดียวเงียบๆ คุณคิดว่ามันน่าเบื่อเกินไปและไม่เห็นจะเกี่ยวกับชีวิตประจำวันของคุณตรงไหน คุณรู้วิธีการจูงใจคนอื่นเพื่อให้งานสำเร็จ คุณจะมีความสุขถ้าได้ทำงานเป็นโค้ช ประชาสัมพันธ์ พยาบาล หรือที่ไหนก็ได้ที่คุณสามารถช่วยคนอื่นได้
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบทำงานเป็นทีม คุณมักจะสนใจในความรู้สึกของคนอื่นจนปล่อยวางไม่ได้ คุณชอบให้คนอื่นเป็นส่วนร่วมในการตัดสินใจ คุณไม่ต้องการชื่อเสียงเกียรติยศ คุณอยากจะหยุดพัก ผ่อนคลาย และออกไปทำอะไรๆ กับเพื่อนฝูงมากกว่า
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณทำให้บรรยากาศสนุกสนาน สำหรับคุณแล้ว เพื่อนสำคัญมาก และพนันได้เลยว่าคุณก็บอกเพื่อนของคุณอย่างนั้นด้วย คุณชอบสัมผัสกับชีวิตของคนอื่น และชอบแบ่งปันความรู้สึกอย่างนี้ให้กับคนที่คุณรักด้วย คุณจะเริ่มหรือเลิกความสัมพันธ์กับใคร ขึ้นอยู่กับว่าคุณรู้สึกสบายใจหรือไม่ คุณจะรู้สึกอึดอัดถ้าถูกกีดกัน คุณมักจะหยิบยื่นความรักและสิ่งของให้คนที่คุณรักอย่างเหลือล้น แต่เมื่อเลิกรา คุณก็สามารถลืมมันได้อย่างรวดเร็วและหันมาสนุกสนานกับเพื่อนฝูงแทน
<br>
ข้อควรระวัง : อย่าใช้เวลามากเกินไปกับการเข้าสังคมจนลืมงานที่คุณต้องทำ คุณมักจะชอบคุยโทรศัพท์จนไม่สนใจงาน เมื่อเริ่มทำอะไรแล้ว ก็จงทำจนสำเร็จ พยายามฝึกวางแผนและหัดบริหารเวลาบ้าง อย่ามองข้ามข้อเท็จจริงและเหตุผล และสุดท้าย อย่ามัวแต่สนใจจะทำโน่นทำนี่ จนลืมวางแผนไปข้างหน้า
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>ครูอนุบาล ครูประถม ผู้ดูแลเด็ก นักสังคมสงเคราะห์ ผู้แต่งเพลง นักเขียน งานเกี่ยวกับสาธารณสุข นักธุรกิจ งานประชาสัมพันธ์ นักขาย พระ ครูฝึกสุนัข
<br><br>
ESFP เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:estp' %}">ESTP</a>
, <a href="{% url 'quiz:isfp' %}">ISFP</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "ESFP" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/personality.gif" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



