<!DOCTYPE html>
<html lang="en">
<head>
<title>ESTP</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>ESTP</h1>
<br>
<h2>The Doer : ผู้กระทำ</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนชอบทำกิจกรรม เป็นคนมีเหตุผล อยู่ไม่ติดบ้านและเป็นคนที่อยู่ในโลกแห่งความจริง ในสถานการณ์ที่ต้องใช้ความสามารถหลายรูปแบบ คุณจะเป็นคนที่สามารถปรับเปลี่ยนตัวเองอย่างรวดเร็วเพื่อจะหาวิธีที่จะทำให้งานหรือภารกิจสำเร็จอย่างมีประสิทธิภาพ คุณเป็นคนสดใส มีชีวิตชีวา สนุกสนาน ชอบที่จะอยู่ในที่ที่มีกิจกรรม เพราะคุณชอบที่จะมีส่วนร่วมกับเหตุการณ์ คุณเป็นคนพูดตรงและไม่ระวังปาก คุณจะถนัดที่สุดในสถานการณ์ที่เกี่ยวกับเหตุการณ์ในปัจจุบันและคุณก็ถนัดที่จะจัดการอะไรโดยวิธีแบบมีหลักการตรงไปตรงมา
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนแอคทีฟ สบายๆ และทำอะไรตามอารมณ์ไม่จำเป็นต้องวางแผนล่วงหน้า คุณเป็นคนที่ไม่เพ้อผัน ชอบใฝ่หาความรู้ และเป็นคนช่างสังเกตและสงสัย คุณเป็นคนมีเสน่ห์ คุณชอบพบปะผู้คน ปรับตัวกับสถานการณ์ได้ไว และมีเรื่องตลกที่จะนำมาเล่าได้ในทุกสถานการณ์ ต้องยอมรับว่าคุณมีมุขตลกเยอะมาก เหมาะที่จะแก้ไขให้สถานการณ์ที่ตึงเครียดให้คลี่คลายลงได้
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบไปโรงเรียนเพราะจะได้เจอเพื่อนและจะได้ทำกิจกรรม ส่วนเรื่องการเรียนการศึกษาก็เกี่ยว แต่คุณไม่ค่อยสนใจเรื่องนี้นัก นอกจากนั้นคุณก็มีแนวโน้มที่จะเป็นนักกีฬาของชั้นปีหรือของโรงเรียน นอกจากนั้นคุณก็เป็นคนที่ชอบทำกิจกรรมหลังเวลาเรียน
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบที่จะมีอะไรทำตลอดเวลา ไม่ชอบอยู่ว่าง คุณชอบลงมือทำอะไรเอง คุณชอบเวลาคนมีความคาดหวังที่เหมือนจริงไม่ใช่เพ้อผัน และชอบคำอธิบายงานที่ชัดเจน คุณชื่นชอบครูที่มีความสามารถในการถ่ายทอดความรู้ในลักษณะที่บันเทิงและทำให้นักเรียนรู้สึกสนุกสนานและมีส่วนร่วมในการเรียนรู้
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบวิกฤติการณ์เพราะคุณจะได้กระโดดเข้าใส่และแก้ปัญหานั้น คุณทำอะไรเร็ว และบางครั้งก็ชอบที่จะเสี่ยงบ้าง คุณมีความสามารถในการจัดการสถานการณ์ได้ดีโดยเฉพาะในสถานการณ์วิกฤต คุณชอบเวลาว่างที่คุณจะได้พักผ่อนตามอัธยาศัย คุณชอบกีฬา ถ้าคุณไม่ได้เป็นผู้เล่นก็จะเป็นแฟนตัวยง คุณใจกล้าบ้าระห่ำในบางครั้ง ในฐานะแฟนกีฬาตัวจริง คุณจะเป็นคนเชียร์ที่เต็มไปด้วยสีสันและความตื่นเต้น คุณชอบสะสมของที่คุณชอบ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชื่นชอบคนที่ท้าทายชีวิต คู่รักที่เหมาะสำหรับคุณคือคนที่คุณทำอะไรสนุกๆด้วยได้ เป็นคนที่จะร่วมทุกข์ร่วมสุขด้วยได้ คุณใช้กลยุทธ์ทั้งตื้อและนิสัยสนุกสนานของคุณในการชนะใจคนที่คุณชอบ คุณไม่ชอบงานหรือความสัมพันธ์ที่จำเจมีแต่เรื่องเดิมๆ เพราะมันทำให้คุณรู้สึกว่าถูกขัง คุณเป็นคนค่อนข้างตรงไปตรงมาในการคบใคร
<br>
ข้อควรระวัง : อย่าหวังพึ่งการแก้ไขสถานการณ์เฉพาะหน้าอยู่เสมอไป ถึงแม้ว่าคุณจะแก้ไขสถานการณ์ในตอนนั้นได้ แต่ก็ไม่น่าจะให้เหตุการณ์กลายเป็นสถานการณ์ฉุกเฉินไปเสียทุกครั้ง ค่อยๆไตร่ตรองบ้างก็จะดี คุณจะได้ไม่เครียดจนเกินไป อย่าละเลยการตามงานเพียงเพราะคุณชอบที่จะแก้ปัญหาที่เกิดขึ้นในเวลานั้นมากกว่า อย่าเผลอมุ่งประเด็นไปแต่สิ่งของและลืมคิดถึงสิ่งสำคัญกว่าซึ่งก็คือคน คุณควรจะลดการโพล่งอะไรตรงๆออกมา และควรหัดคิดถึงความรู้สึกของคนอื่นด้วย
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>ตำรวจ คนขับรถ นักสืบ โปรแกรมเมอร์ นักวิเคราะห์ นักสถิติ วิศวกร นักแสดง ช่างไม้ ช่างกล ผู้ประพันธ์เพลง นักบิน นักกีฬา ศิลปิน นักลงทุน ข้าราชการ นักธุรกิจ นักการตลาด
<br><br>
ESTP เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:istj' %}">ISTJ</a>
, <a href="{% url 'quiz:estp' %}">ESTP</a>
, <a href="{% url 'quiz:istp' %}">ISTP</a>
, <a href="{% url 'quiz:esfp' %}">ESFP</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "ESTP" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/help.png" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



