<!DOCTYPE html>
<html lang="en">
<head>
<title>INFJ</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>INFJ</h1>
<br>
<h2>The Protector : ผู้ป้องกัน</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนที่มองไปในอนาคต ใช้ความรู้และความใฝ่ฝันของคุณในการพยายามเข้าใจตัวเองและเข้าถึงธรรมชาติของมนุษย์ งานที่คุณทำจะบ่งบอกถึงความซื่อสัตย์และมั่นคง และสะท้อนให้เห็นถึงอุดมการณ์ที่มีอยู่ในใจ การอยู่คนเดียวและได้ทำในสิ่งที่คุณต้องการมีความสำคัญต่อคุณ คุณเป็นคนที่มีความเมตตา และอยากให้ทุกคนปรองดองและสามัคคีกัน คุณพยายามอย่างที่สุดที่จะหลีกเลี่ยงการมีปัญหากับใคร
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเข้าใจถึงความซับซ้อนที่มีอยู่ภายในใจมนุษย์ คุณไม่ค่อยเรียกร้องความสนใจ คุณชอบให้ความสำเร็จแสดงผลเอง คุณเลือกที่จะคบคนกลุ่มเล็กๆที่เข้าใจคุณและเห็นความสำคัญของคุณ คุณมีจิตใจอ่อนโยนและไม่ชอบความรุนแรง
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบที่จะอยู่กับเพื่อนสนิทไม่กี่คน มากกว่าที่จะไปอยู่ตามงานปาร์ตี้ คุณเรียนได้ดีตอนเรียนมหาวิทยาลัย เพราะคุณได้มีโอกาสใช้สมองเต็มที่กว่าตอนเรียนมัธยม คุณอยากให้งานที่คุณทำเป็นประโยชน์ต่อสังคมโดยรวม
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณรักที่จะเรียนรู้ คุณเข้ากับครูบาอาจารย์และผู้ใหญ่ได้ดี คุณเป็นคนเขียนเก่งเพราะคุณคิดอะไรได้ชัดเจน คุณเป็นคนที่ซื่อสัตย์ มั่นคง และสม่ำเสมอ คุณไม่ชอบเล่นการเมืองในที่ทำงาน คุณชอบพูดกับคนตรงๆ ด้วยความจริงใจ มากกว่าที่จะเล่นสงครามประสาท ในบางครั้ง คุณมีความรู้สึกสังหรณ์ล่วงหน้าถึงเหตุการณ์ในอนาคต
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนที่มีความพยายาม และตั้งใจแน่วแน่ที่จะไปถึงเป้าหมายที่ตั้งไว้ เวลาคุณทำงานมุ่งสู่จุดหมายนั้น คุณจะได้รับความร่วมมือจากคนรอบข้าง โดยที่คุณไม่ต้องเอ่ยขอ ถึงแม้ว่าคุณจะไม่ได้เป็นผู้นำ แต่คุณที่เป็นคนที่เอื้อให้เรื่องดำเนินไปด้วยดี คุณมักจะพักผ่อนโดยอยู่คนเดียว หรือกับคนที่มีความสำคัญต่อคุณ เพียงแค่ได้นั่งคุยเรื่องความรู้สึกกับคนสนิท คุณก็มีความสุขแล้ว คุณชอบที่จะอยู่กับเพื่อนที่คุณคบมานานแล้วหลายปี มากกว่าที่จะไปทำความรู้จักกับคนใหม่ๆ มิตรภาพแบบนี้ มีความสำคัญต่อคุณ ถึงแม้คุณอาจจะไม่ได้เล่าเรื่องตัวเองให้เขามากก็ตาม
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณจะติดใจกับคนพิเศษและจะรักเขาคนเดียวมากกว่าที่จะไปคบคนหลายๆคนอย่างผิวเผิน แต่คุณเองก็ไม่ได้เปิดเผยความจริงใจนี้ ออกมาทั้งหมดให้กับเขาคนนั้นรู้ คุณชอบที่จะนัดพบกันอย่างสม่ำเสมอ โดยเฉพาะในที่ที่คุณมีความหลัง เช่น สถานที่แรกที่คุณพบกันหรือทำอะไรที่มีความหมายด้วยกัน เพื่อทำให้ความสัมพันธ์แน่นแฟ้นขึ้น
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณอาจจะมีอุดมการณ์ว่า ความรักควรจะเป็นอย่างไร ทำให้คุณมักจะผิดหวังเมื่อพบว่า ความจริงมันไม่เป็นไปอย่างที่คิด คุณอยากจะรักและถูกรัก ในบางครั้ง คุณมักจะคบใครเพียงเพื่อให้มีใครแคร์คุณ ถึงแม้ว่าคนๆ นั้นจะไม่เหมาะกับคุณ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมื่อคุณพบกันคนที่เหมาะกับคุณ คุณจะไม่รีรอที่จะทำความรู้จักและแสดงความจริงใจกับเขา ถึงแม้ว่าคุณจะต้องบอกเลิกความสัมพันธ์อื่นๆไป
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เวลาที่คุณถูกตำหนิ คุณจะรู้สึกแย่มาก และถอยฉากออกไปเงียบๆ คุณอาจจะถึงขั้นฟุ้งซ่านและคิดว่าคุณทำอะไรผิดไป ที่ทำให้ความสัมพันธ์นี้ล้มเหลว คุณจะโทษตัวเอง และบางครั้ง ถึงขนาดต้องมีช่วงเวลาไว้ทุกข์
<br>
ข้อควรระวัง : อย่าตามืดตามัวเชื่อในอุดมการณ์ของตน หรือมุ่งไปแต่ความคิดของตัวเอง บางครั้ง มันทำให้คุณลืมนึกถึงความเป็นจริง เพราะมันไม่ตรงกับอุดมการณ์ที่เลิศเลอของคุณ บางครั้ง คุณยึดมั่นในความเชื่อและคำสัญญาเกินกว่าที่ข้อเท็จจริงจะสนับสนุนได้
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นอกจากนั้น คุณควรกล้าแสดงความคิด ไม่อย่างนั้น คุณอาจจะถูกละเลยไป เนื่องจากคุณมักจะไม่อยากก้าวก่ายคนอื่นด้วยความคิดของคุณ หลายครั้งคุณจึงเก็บเรื่องสำคัญไว้กับตัวเอง ซึ่งทำให้คุณรู้สึกว่า ความคิดของคุณถูกประเมินค่าต่ำ หรือไม่ได้รับความสนใจ คุณน่าจะพยายามพัฒนาวิธีการเข้าถึงคน หรือวิธีการแสดงความเห็น เพื่อเสนออุดมการณ์ของคุณ สุดท้าย คุณควรจะเปิดใจกับคำวิพากษ์วิจารณ์ของคนอื่น คุณมักจะคิดว่า ถ้าพูดแล้วไม่ดี อย่าพูดเสียดีกว่า แต่ถ้าคุณเก็บกดไปเรื่อยๆ คุณก็จะระเบิดออกมาในที่สุด
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>เสมียน นักจิตวิทยา จิตแพทย์ นักดนตรี นักเขียน นักสังคมสงเคราะห์ ครู แพทย์ ศิลปิน งานให้คำปรึกษา งานธุรกิจ งานแนะแนวการศึกษา พระ นักนิเทศศาสตร์ ครู(ภาษา/ศิลปะ)
<br><br>
INFJ เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:entp' %}">ENTP</a>
, <a href="{% url 'quiz:enfp' %}">ENFP</a>
, <a href="{% url 'quiz:infj' %}">INFJ</a>
, <a href="{% url 'quiz:infp' %}">INFP</a>
, <a href="{% url 'quiz:enfj' %}">ENFJ</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "INFJ" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/personality.gif" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



