<!DOCTYPE html>
<html lang="en">
<head>
<title>INTJ</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>INTJ</h1>
<br>
<h2>The Scientist : นักวิทยาศาสตร์</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนรักอิสระที่เข้มแข็ง ผู้ชอบแสวงหามุมมองใหม่ๆ ชื่นชอบการเข้าใจสิ่งใหม่ๆ มีความคิดล้ำลึก และมีความคิดฉับไว แต่คนอื่นๆไม่ค่อยได้มองเห็นความฉับไวนี้ของคุณ เพราะคุณมักจะเก็บงำไว้กับตัวเอง คุณเป็นคนช่างคิดวิเคราะห์ เป็นเหตุเป็นผล และฉลาดทีเดียว
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นคนมีจิตใจแน่วแน่ และมักจะเชื่อวิสัยทัศน์ของคุณเองโดยไม่สนใจว่าคนอื่นจะคิดอย่างไร คุณเป็นคนรักอิสระมาก เงียบแต่มั่นคง ทำอะไรก็ต้องทำให้ดีที่สุด
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณดูเป็นคนคร่ำเคร่งและไว้ตัว คนอื่นมักจะมองว่าคุณเป็นนักคิด ผลการเรียนของคุณดีทีเดียวเพราะคุณได้ตั้งเป้าหมายให้ตัวเองไว้ชัดเจน คุณไม่ค่อยชอบเข้าสังคมเพราะเป็นเรื่องเสียเวลา ยกเว้นแต่ว่าคุณจะมีจุดประสงค์อะไรบางอย่าง คุณไม่ชอบระบบราชการเพราะมันทำให้คุณต้องทำตามระบบของคนอื่น ไม่ใช่ระบบของคุณเอง คุณเป็นคนตระหนี่ แต่ยินดีจ่ายในสิ่งที่คุณให้ความสำคัญ (เช่น การศึกษา) คุณเรียนได้ดีเมื่อคุณเลือกวิธีการเรียนของคุณเอง คุณเป็นคนกระหายหาความรู้ ชอบการเรียนและการขลุกอยู่ในห้องสมุด
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณจะเดินหน้าตามแผนของคุณ แม้ในสถานการณ์ที่คนทั่วไปจะเห็นว่าแผนนั้นมันเป็นไปไม่ได้อีกต่อไปแล้ว คุณประหลาดใจที่คนอื่นมองไม่เห็นวิสัยทัศน์ของคุณอย่างที่คุณเห็น งานที่ดีมันฟ้องในตัวมันเองอยู่แล้ว คุณชอบคนที่ฉลาดและกล้าตัดสินใจ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นนักจัดระบบจอมอึด เมื่อคุณตั้งใจว่าจะทำอะไรขึ้นมาแล้ว ไม่มีอะไรที่จะหยุดคุณได้ แม้แต่การใช้เวลาว่าง คุณก็ยังวางแผน คุณไม่ชอบของเห่อตามสมัยนิยม คุณมีแนวโน้มที่จะเลือกคู่ครองที่เป็นคนร่าเริงมีชีวิตชีวา คุณมักเก็บความรักของคุณเป็นความลับ และไม่แม้แต่จะบอกคนรักของคุณ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณอาจจะมีความรุนแรงในความรักได้ เป็นเจ้าบุญทุ่มถ้าของขวัญนั้นเหมาะสมกับความรักในอุดมคติของคุณ เมื่อคุณถูกปฏิเสธ คุณจะหลบหนีไปอยู่ในโลกของคุณเอง และไม่แพร่งพรายความรู้สึกเจ็บปวดของคุณให้ใครได้รู้ คุณจะหาทางที่ "ถูก" ที่จะจบความสัมพันธ์ของคุณ
<br>
สิ่งที่ควรระวัง : ปล่อยทิ้งความคิดที่เพ้อฝันไปเสีย อย่ามัวแต่ติดอยู่กับความคาดหวังในอนาคตจนลืมปัจจุบัน อย่าละเลยผลกระทบของคุณต่อคนอื่น ไม่ใช่ทุกคนจะทำในแบบเดียวกับที่คุณทำ ดังนั้นอย่าวิพากษ์วิจารณ์คนอื่นที่ไม่เป็นไปตามความคาดหมายของคุณ อย่าหมกมุ่นอยู่กับรายละเอียดปลีกย่อยที่ไม่สำคัญ
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>นักวิทยาศาสตร์ นักคณิตศาสตร์ อาจารย์มหาวิทยาลัย วิศวกร แพทย์ โปรแกรมเมอร์ นักเศรษฐศาสตร์ นักประดิษฐ์ ผู้นำทหาร ผู้พิพากษา นักกฎหมายช่างเทคนิค สถาปนิก
<br><br>
INTJ เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:estj' %}">ESTJ</a>
, <a href="{% url 'quiz:intj' %}">INTJ</a>
, <a href="{% url 'quiz:istp' %}">ISTP</a>
, <a href="{% url 'quiz:entj' %}">ENTJ</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "INTJ" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/help.png" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



