<!DOCTYPE html>
<html lang="en">
<head>
<title>INTP</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<div id="main" align="left">
<h1>INTP</h1>
<br>
<h2>The Thinker : นักคิด</h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นนักต่อสู้เพื่อหาความสมบูรณ์เป็นเหตุเป็นผล คุณมีไฟแรงกล้าในการค้นหาความจริงและหลักการ คุณมักชอบถามคำถาม "ทำไมล่ะ" หรือ "ทำไมไม่อย่างนี้ล่ะ" คุณสามารถจดจ่ออยู่กับสิ่งที่คุณสนใจอย่างคร่ำเคร่ง คุณชอบขั้นตอนความคิดและการสื่อข้อความที่สละสลวยและมีประสิทธิภาพ
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดูเผินๆ คุณอาจจะดูติดดินไม่ว่าทั้งรูปร่างหน้าตาและการแสดงออกของคุณ แต่คุณจะดื้อหัวชนฝาเมื่อคุณกำลังท้าทายข้อเท็จจริงอะไรบางอย่าง คุณไม่ชอบเสียเวลากับเรื่องที่ดูเป็นเรื่องง่ายๆ แต่จะทุ่มเทเต็มที่เมื่อต้องคิดเรื่องยุ่งยากซับซ้อน คุณเป็นนักเรียนที่ผลการเรียนไม่ดีนัก แต่มีความสามารถสูง ถ้าคุณไม่ชอบกฏกติกาอะไรบางอย่าง คุณจะไม่รอช้าที่จะท้าทายและหาข้อบกพร่องของกฏ ทำให้ดูเหมือนว่าคุณเป็นคนหัวรุนแรง แต่ถ้าคุณชอบกฏกติกาอะไร คุณจะเคารพกฏและปฏิบัติตามเป็นอย่างดี
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณเป็นนักเรียนที่ทรหดเมื่อเรียนรู้ในสิ่งที่คุณสนใจ คนอื่นมักจะมองว่าคุณเป็นคนชอบเหม่อลอย คุณมักจะเชื่อมโยงความคิดที่ไม่เกี่ยวข้องกันเข้าด้วยกัน และชอบเป็นคนออกแบบวางแผนมากกว่าจะเป็นผู้ปฏิบัติแผนเอง คุณต้องการสถานที่ทำงานที่เงียบและเป็นส่วนตัว ที่ทำให้มีความรู้สึกเป็นอิสระ ชอบจัดการเกี่ยวกับความคิดมากกว่าจัดการเกี่ยวกับคน คุณมักจะหลีกเลี่ยงบทบาทผู้นำแบบทั่วๆไป และจะนำตามความคิดของคุณมากกว่า คุณไม่ยอมใช้อารมณ์แต่จะใช้เหตุผล คุณใช้เวลาว่างของคุณในการคิดจดจ่ออยู่กับความคิดของคุณ หรือไม่ก็ไปเสี่ยงตายในโลกกว้าง (เช่น ดิ่งพสุธา)
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณชอบอ่าน คิด ดูโทรทัศน์ เล่นคอมพิวเตอร์ บางครั้งคุณชอบที่จะทำสิ่งเหล่านี้มากกว่าพบปะผู้คน คุณไม่จำเป็นต้องดูหนัง best seller เพราะคุณไม่เชื่อความเห็นของคนอื่น และมักตัดสินใจด้วยตัวคุณเอง
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับคุณ ความรักมี 3 ช่วงที่แตกต่างกันชัดเจน: ตกหลุมรัก ยังรัก และ เลิกรัก สำหรับคุณ การตกหลุมรักคือการสูญเสียเหตุและผล และคุณมักจะตกหลุมรักอย่างแรงเสียด้วย ช่วง "ยังรัก" เป็นช่วงที่คุณเริ่มประเมินความสัมพันธ์ของคุณ ณ จุดนี้ คุณอาจจะถอนตัวก็ได้ เพราะคุณเริ่มกลับมาสนใจตัวเองตามธรรมชาติของคุณ ความหลงรักเคลิบเคลิ้มเริ่มเปลี่ยนไป สุดท้าย ช่วง "เลิกรัก" (ซึ่งไม่จำเป็นต้องเกิดขึ้นเสมอไป) เกิดจากวิเคราะห์ความคาดหวังและความจำเป็นของความสัมพันธ์ของคุณ บ่อยครั้งที่มีเส้นแบ่งที่คุณและคู่ของคุณไม่รู้ก่อนล่วงหน้า อย่างไรก็ตาม ถ้าคุณหยุดความสัมพันธ์ คุณก็จะยังคงความเป็นเพื่อนต่อไปได้ ถ้าคุณมีเหตุผล
<br>
ข้อควรระวัง : อย่าจดจ่อมากเกินไปในความไม่สม่ำเสมอของคนอื่น พยายามเป็นมิตรและแสดงความชื่นชมต่อคนอื่น คุณให้ความสำคัญกับการมีความสามารถ และคุณอาจจะทำให้ตัวคุณลำบากมากเกินไป อย่าให้อารมณ์ควบคุมตัวคุณ คุณอาจจะระเบิดออกมาหรืออ่อนไหวมากเกินไป
<br><br>
<h2>อาชีพที่เหมาะสมกับลักษณะบุคลิกภาพ</h2>นักวิทยาศาสตร์ สถาปนิก อาจารย์มหาวิทยาลัย แพทย์ นักเคมี นักกฎหมาย ครู นักชีววิทยา นักคณิตศาสตร์ นักคอมพิวเตอร์ วิศวกรออกแบบและพัฒนา งานเกี่ยวกับสาธารณสุข/เทคนิคมืออาชีพ นักวิชาการ นักเขียน ศิลปิน นักสังคมวิทยา
<br><br>
INTP เข้ากันได้ดีที่สุดกับ <a href="{% url 'quiz:entp' %}">ENTP</a>
, <a href="{% url 'quiz:intp' %}">INTP</a>
, <a href="{% url 'quiz:intj' %}">INTJ</a>
<br><br><br>
<p align="center">
<img src="{% static "quiz/facebook.png" %}" width="100" height="100" alt="home"/>
</p>
<br>

<div id="main" align="center">
<table>
{% if latest_player_list %}
    <tr>
	<th>Player</th>
	<th>Facebook</th>
    </tr>

    {% for player in latest_player_list %}
        {% if player.personaltiy == "INTP" %}
            <tr>
                <td>{{ player.player_text }}</td></li>
	            <td>{{ player.facebook }}</td>
            </tr>
        {% endif %}
    {% endfor %}    
{% else %}
    <p><h5>No player play this quiz.<h5></p>
{% endif %}
</table>
</div>

<br><br>
</div>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br>
<a href="{% url 'quiz:personality' %}">
<img src="{% static "quiz/help.png" %}" width="150" height="100" alt="key"/>
</a>
<br><br><br>
</div>
</body>
</html>



