<!DOCTYPE html>
<html lang="en">
<head>
<title>Personality</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

</head>
<body>

<br>
<div id="main" align="center">
<img src="{% static "quiz/logo.jpg" %}" width="769" height="300" alt="logo"/>
<br>
<ul>
<table>
    <tr>
	<th>Personality</th>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:istj' %}">ISTJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:istp' %}">ISTP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:isfj' %}">ISFJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:isfp' %}">ISFP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:infj' %}">INFJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:infp' %}">INFP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:intj' %}">INTJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:intp' %}">INTP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:estj' %}">ESTJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:estp' %}">ESTP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:esfj' %}">ESFJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:esfp' %}">ESFP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:enfj' %}">ENFJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:enfp' %}">ENFP</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:entj' %}">ENTJ</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'quiz:entp' %}">ENTP</a></td>
    </tr>
    </table>
    </ul>
<br><br>
<a href="{% url 'quiz:index' %}">
<img src="{% static "quiz/home.png" %}" width="100" height="100" alt="home"/>
</a>
<br><br><br>
</div>
</body>
</html>

